.gradle/
.idea/libraries/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/compiler.xml
.idea/.name
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dataSources.xml
build/
out/
temp/
/.idea/mongoSettings.xml
